<nav class="demo">
  <a href="#" class="brand">
    <i class="fa fa-cutlery" aria-hidden="true"></i>
    <span>Götterspeise</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">&#8801;</label>

  <div class="menu">
    <a href="#" class="pseudo button icon-picture">Demo</a>
    <a href="#" class="button icon-puzzle">Plugins</a>
  </div>
</nav>