<div class="pure-u-1 pure-u-md-5-5">
  <div class="pure-menu pure-menu-horizontal header">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <a href="/" class="pure-menu-heading pure-menu-link brand">götterspeise</a>
      <ul id="menu" class="pure-menu-list hidden">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Link1</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Link2</a></li>
          <ul class="pure-menu">
            <li class="pure-menu-item">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="" placeholder="suche">
            </li>
          </ul>
      </ul>
  </div>
</div>