html{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body{
  background: url("../images/background/bg.jpg") top left no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #3a4145;
  font-family: Merriweather,serif;
  font-feature-settings: "kern";
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  margin: 0 0 5px 0;
  line-height: 0.8em;
  display: inline-block;
}

h4 {
  font-size: 0.8rem;
  text-indent: -3px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

ul {
  margin: 5px 0;
}

li {
  display: block;
}

hr {
  border: 1px solid #ebf2f6;
}

.header {
  width: 100%; 
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  /*Background*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,6bd919+15,26a626+27 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #6bd919 15%, #26a626 27%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#6bd919 15%,#26a626 27%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#6bd919 15%,#26a626 27%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#26a626',GradientType=0 ); /* IE6-9 */
}

.brand {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
  margin-left: 50px;
}

.header a {
  color: #fff;
}

.pure-menu-list a:hover,
.pure-menu-list a:focus,
.brand:hover,
.brand:focus {
  border-top: 2px solid red;
  background-color: rgba(38,166,38,0.8);
}

.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: transparent;
    background: rgba(38,120,38,0.3);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.menu-link a:hover,
.menu-link a:focus {
  background-color: rgba(38,166,38,0.8);
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

#menu {
  display: block;
}

#menu li.hidden {
  display: inline-block;
}

.main {
  background-color: #fff;
  margin: 40px 0;
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.category {
  background-color: #FFB61E;
  display: inline-block;
  padding: 0 10px;
  border-radius: 6px;
  color: #fff;
}

.category a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.category a:hover {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.recipe {
  background-color: rgba(38,166,38,0.1);
  border-top: solid 6px rgba(135,211,135,1);
  padding: 20px 10px;
  margin: 20px 0;
}

.recipe-title {

}

.recipe-categories {
  margin-bottom: 20px;
}

.pure-table {
  border: none;
  margin-bottom: 20px;
}

.ingredient {
  text-transform: uppercase;
}

.ammount {
  font-weight: bold;
}

.gauge {
  font-weight: bold;
}

#zutaten, #zubereitung, #tipps {
  background-color: rgba(38,166,38,0.8);
  display: inline-block;
  padding: 0 10px;
  border-radius: 6px;
  color: #fff;
}

.recipe-title-img {
  z-index: 1;
  float: left;
}

.recipe-title-img figcaption {
  display: none;
}

.recipe-title-img figure {
  margin: 0;
}

.recipe-gallery {

}

.recipe-gallery-content {
  border-top: solid 6px rgba(135,211,135,1);
  margin: 0;
}

.recipe-gallery-content figure {
  display: inline-block;
  margin: 15px 10px 10px 0;
  padding: 5px;
  float: left;  
  background-color: rgba(38,166,38,0.1);
}

.gallery-img{
  width: 140px;
}

.gallery-img figcaption {
  text-transform: uppercase;
  font-size: 0.8em;
}

.recipe-thumbs {
  float: right;
}

.recipe-footer {
  margin-top: 10px;
  text-align: right;
}

.recipe-footer a {
  color: #fff;
}

.recipe-icon {
  border-radius: 50%;
  padding: 15px;
  background-color: #FFB61E;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.recipe-icon:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px rgba(0,0,0,0.6);
  transform: rotate(3deg);
}

@media screen and (min-width: 48em) {
  .main {
    margin: 100px auto;
  }

  .effect2
  {
    position: relative;
  }
  .effect2:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    right: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px rgba(0,0,0,0.6);
    transform: rotate(-3deg);
  }
}